{% extends 'base_user.html' %}

{% load static %}

{% block spots_list_link_class %} active{% endblock %}

{% block main %}
  <div class="view">
    <div class="view__title">
      <h1>Твои Споты</h1>
    </div>

    <div class="view__body">
      {% if object_list %}
        {% for spot in object_list %}
          <div class="panel">
            <div class="panel__title d-flex justify-content-between">
              <div>
                {{ spot.name }}
              </div>

              <div>
                <a
                  href="{{ spot.link_rp5 }}"
                  target="_blank"
                >ссылка rp5</a>
              </div>
            </div>

            <div class="panel__body">
              Количество условий - {{ spot.condition_set.count }}
            </div>

            <div class="panel__actions">
              <a class="btn btn-outline-dark" href="{% url 'conditions_create' spot.pk %}">Добавить условие</a>
              <a class="btn btn-outline-dark" href="{% url 'conditions_list' spot.pk %}">Просмотреть условия</a>
              <a class="btn btn-outline-dark" href="{% url 'spots_update' spot.pk %}">Редактировать</a>
              <button
                class="btn btn-outline-dark delete_button"
                data-url="{% url 'spots_delete' spot.pk %}"
              >Удалить</button>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="mb-4">Спотов пока нет</div>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'js/deleteButton.js' %}"></script>
{% endblock %}
