{% extends 'base_user.html' %}

{% load static %}

{% block spots_create_link_class %}{% if is_create %} active{% endif %}{% endblock %}

{% block head %}
  {{ block.super }}

  <link rel="stylesheet" type="text/css" href="{% static 'css/form_styles.css' %}">
{% endblock %}

{% block main %}
  <div class="view">
    <div class="view__title">
      <h1>Добавление Спота</h1>
    </div>

    <div class="view__body">
      <div class="panel">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="panel__body">
            {{ form.as_div }}
          </div>

          <div class="panel__actions">
            <button
              class="btn btn-outline-dark"
              type="submit"
            >{% if is_create %}Добавить{% else %}Сохранить{% endif %}
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="view__actions">
      {% url 'spots_list' as url %}
      {% include 'components/back_button.html' with url=url %}
    </div>
  </div>
{% endblock %}

{% block footer %}
    <script type="text/javascript" src="{% static 'js/formPatcher.js' %}"></script>
{% endblock %}
