<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>windBot</title>

  {% load static %}

  <link href="{% static 'bootstrap-5.0.2/css/bootstrap.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap-5.0.2/js/bootstrap.js' %}"></script>

  <style>
      body {
          background-color: #e9f1e9;
      }

      header {
          background-color: #d4e1ce;
      }

      nav, main {
          width: 100%;
          margin: 0 auto;
      }

      nav {
          max-width: 900px;
      }

      main {
          max-width: 800px;
          padding: 32px 0;
      }

      .page_title {
          padding-bottom: 28px;
          margin: 0;
      }
  </style>

  {% block head %}
  {% endblock %}
</head>

<body>
{% block header %}
{% endblock %}

<main>
  {% block main %}
  {% endblock %}
</main>

<footer>
  {% block footer %}
  {% endblock %}
</footer>
</body>
</html>