<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>windBot</title>

  {% load static %}

  <link href="{% static 'bootstrap-5.0.2/css/bootstrap.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap-5.0.2/js/bootstrap.js' %}"></script>

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

  {% block head %}
  {% endblock %}
</head>

<body>
{% block header %}
{% endblock %}

<main>
  {% block main %}
  {% endblock %}
</main>

<footer>
  {% block footer %}
  {% endblock %}
</footer>
</body>
</html>