{% extends 'base.html' %}

{% block head %}
  <style>
      html, body {
          height: 100%;
      }

      body {
          display: flex;
          flex-direction: column;
      }

      main {
          padding-bottom: 5%;

          flex: 1 1 auto;
          display: flex;
          justify-content: center;
          align-items: center;

          text-align: center;
      }

      footer {
          padding-bottom: 24px;

          display: flex;
          justify-content: center;
      }

      .login {
          font-size: 1.2rem;
          font-weight: bolder;
      }
  </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block main %}
  <div>
    <h2
    >Ветряной</h2>

    <h1
    >БОТ</h1>
  </div>
{% endblock %}

{% block footer %}
  <div
    class="login"
  >
    <a
      href={% if user.is_authenticated %}{% url 'spots_list' %}{% else %}{% url 'login' %}{% endif %}
    >Войти</a>
  </div>
{% endblock %}
